//Colors - https://chir.ag/projects/name-that-color/
$color-black: #000000;
$color-cinder: #020203;
$color-dark-grey: #666666;
$color-gray: #A2A6B0;
$color-ghost: #CACDD8;
$color-gallery: #ECECEC; //page background color
$color-zircon: #F5F7FF;
$color-white: #FFFFFF;
$color-blue-ribbon: #0156FF;
$color-azure-radiance: #01A4FF;
$color-mojo: #C94D3F;
$color-green: #78A962;
$color-mystic: #E5ECF1;
$color-shark: #252931;

//Fonts - https://google-webfonts-helper.herokuapp.com/fonts/poppins?subsets=latin
$p-font-light: "Poppins Light";
$p-font-regular: "Poppins Regular";
$p-font-medium: "Poppins Medium";
$p-font-semi-bold: "Poppins Semi Bold";
$p-font-bold: "Poppins Bold";
